<!-- /*
============================================
; Title: Exercise 9.2 EMS Milestone 5: Finalize MongoDB Integrations
; Author: Professor Krasso 
; Date Modified: 25 September 2021
; Modified By: William Talley
; Description: Updated view.ejs 
;===========================================
*/  -->

<%- include('header.ejs') -%>
<%- include('navbar.ejs') -%>

    <div role="main" class="container" style= "width: 50%;">
        <br />
        <br />
        <h2>-- Employee Record --</h2>
        <div>
            <div class="form-group">
                <label for="txtName">Name:</label>
                <input type="text" class="form-control" id="txtName" value="<%= employee[0].name %>" name="txtName" />
            </div>
        </div>
        <br />
        <br />
        <a href="/list">Return to Employees</a>
    
    </div>

    <%- include('scripts.ejs') -%>
    <%- include('footer.ejs') -%>